<!DOCTYPE html>

<html>

<head>
    <title>Hello Redux</title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi"
        crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app"><%- reactComponent -%></div>
    <script>window.INITIAL_STATE=<%- initialState -%></script>
    <script src="bundle.js"></script>
</body>

</html>